* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
}

.carre {
    height: 200px;
    width: 200px;
    cursor: pointer;
    border: 1px solid grey ;
}

#carre1 {
    background-color: darkgreen;
}

#carre2 {
    background-color: darkred;
}

#carre3 {
    background-color: darkblue;
}

#carre4 {
    background-color: gold;
}

#carre5 {
    background-color: transparent;
    position: absolute;
    top: 215px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#carre5 p.codeCouleur {
    visibility: hidden;
    color: black;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif; 
}